body {
    color: white;
}

li {
    display: inline-block;
}

.dactyl {
    font-family: cursive;
}


.nav-item {
    flex-grow: 1;
}

.branche {
    width: 20%;
}

.logo-navbar {
    width: 15%;
    margin-right: 5%;
}

.logo-navbar:hover {
    transform: scale(1.1);
}

.background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.navigbar-link {
    color: white;
    padding: 5%;
}

.navigbar-link:hover {
    color: #cccccc;
}

.btn-to-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 100;
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
}

.basic-page.section-header {
    margin-top: 35%;
    background-color: #7f8aa3;
}

.event-image {
    width: 50%;
}

.toggle-navbar {
    width: 9%;
    position: absolute;
    top: 7px;
    right: 20px;
}

.toggle-navbar:hover {
    scale: 1.1;
}

/* BASIC */

.basic-page {
    margin: auto;
    text-align: center;
}

.transition {
    transition: all 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
}

.not-hidden {
    opacity: 1;
}

.large-margin-bottom {
    margin-bottom: 10%;
}

.large-margin-top {
    margin-top: 10%;
}

.basic-margin-top {
    margin-top: 5%;
}

.basic-margin-bottom {
    margin-bottom: 5%;
}

.basic-margin-updown {
    margin-bottom: 5%;
    margin-top: 5%;
}

.large-padding-top {
    padding-top: 10%;
}

.basic-padding-top {
    padding-top: 5%;
}

.basic-padding-bottom {
    padding-bottom: 5%;
}

.basic-padding-updown {
    padding-top: 3%;
    padding-bottom: 3%;
}

.flex-50-50 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flexed-50-50 {
    width: 50%;
    flex-grow: 1;
}

.white-page {
    background-color: white;
    color: black;
    margin: auto;
    width: 80%;
}

.inverted {
    transform: rotate(180deg);
}

.rotated {
    transform: rotate(-184deg);
}

.not-rotated {
    transform: rotate(-4deg);
}

.smallest-padding-bottom {
    padding-bottom: 1%;
}

.large-margin-updown {
    margin-top: 10%;
    margin-bottom: 10%;
}

.large-padding-updown {
    padding-top: 10%;
    padding-bottom: 10%;
}

.big-title {
    font-size: 3000%;
}

.basic-flex {
    display: flex;
    column-gap: 1%;
    white-space: nowrap;
    width: 100%;
    align-items: center;
}




/* LARGE SCREEN */
@media screen and (min-width: 800px) {
    h1 {
        font-size: 5.5vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 2vw;
    }

    p,
    a {
        font-size: 1.5vw;
    }
}

/* SMALL SCREEN */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4vw;
    }

    p,
    a {
        font-size: 2.5vw;
    }

    .basic-page.section-header {
        margin-top: 20%;
    }

}