body {
    color: white;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(207, 168, 155);
    transition: all 0.5s ease-in-out;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    display: inline-block;
}

.dactyl {
    font-family: cursive;
}

.navbtn {
    width: 15%;
}

.heart-separator {
    width: 10%;
}

.nav-item {
    flex-grow: 1;
}

.branche {
    width: 20%;
}

.block-img {
    width: 30%;
    margin-bottom: 10%;
}

.wrong-password {
    background: red;
    opacity: 0.5;
    width: 50%;
    margin: 5% auto 0 auto;
}

.block-img:hover {
    scale: 1.3;
}

.logo-navbar {
    width: 15%;
    margin-right: 5%;
}

.logo-navbar:hover {
    transform: scale(1.1);
}

.background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.navigbar-link {
    color: white;
    padding: 5%;
}

.navigbar-link:hover {
    color: #cccccc;
}

.btn-to-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 100;
    border: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.event-image {
    width: 50%;
}

.toggle-navbar {
    width: 9%;
    position: absolute;
    top: 7px;
    right: 20px;
}

.toggle-navbar:hover {
    scale: 1.1;
}

/* BASIC */

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}


.basic-page {
    margin: auto;
    text-align: center;
}

.transition {
    transition: all 0.5s ease-in-out;
}

.hovered:hover {
    transform: scale(1.1);
}

.big-hovered:hover {
    transform: scale(1.3);
}

.full-width {
    width: 100%;
}

.hidden {
    opacity: 0;
}

.not-hidden {
    opacity: 1;
}

.basic-margin {
    margin: 5%;
}

.large-margin-bottom {
    margin-bottom: 10%;
}

.large-margin-top {
    margin-top: 10%;
}

.basic-margin-top {
    margin-top: 5%;
}

.basic-margin-bottom {
    margin-bottom: 5%;
}

.basic-margin-updown {
    margin-bottom: 5%;
    margin-top: 5%;
}

.large-padding-top {
    padding-top: 10%;
}

.basic-padding-top {
    padding-top: 5%;
}

.basic-padding {
    padding: 5%;
}

.basic-padding-bottom {
    padding-bottom: 5%;
}

.basic-padding-updown {
    padding-top: 3%;
    padding-bottom: 3%;
}

.basic-padding-leftright {
    padding-left: 3%;
    padding-right: 3%;
}

.flex-50-50 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flexed-50-50 {
    width: 50%;
    flex-grow: 1;
}

.flex-3-blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.flexed-3-blocks {
    width: 30%;
    flex-grow: 1;
    padding: 2%;
}

.flexed-separator {
    width: 5%;
}

.white-page {
    background-color: white;
    color: black;
    margin: auto;
    width: 80%;
}

.heighted {
    height: 200px;
}

.no-height {
    height: 0;
    overflow: hidden;
}

.full-rotation {
    transform: rotate(360deg);
}

.inverted {
    transform: rotate(180deg);
}

.rotated {
    transform: rotate(-184deg);
}

.not-rotated {
    transform: rotate(-4deg);
}

.smallest-padding-bottom {
    padding-bottom: 1%;
}

.large-margin-updown {
    margin-top: 10%;
    margin-bottom: 10%;
}

.large-padding-updown {
    padding-top: 10%;
    padding-bottom: 10%;
}

.big-title {
    font-size: 3000%;
}

.basic-flex {
    display: flex;
    column-gap: 1%;
    white-space: nowrap;
    width: 100%;
    align-items: center;
}


/* VERY LARGE SCREEN */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 1.5vw;
    }

    p,
    strong,
    i,
    a {
        font-size: 1vw;
    }

    .heighted {
        height: 400px;
    }
}



/* LARGE SCREEN */
@media screen and (min-width: 800px) {
    h1 {
        font-size: 5.5vw;
    }

    h2 {
        font-size: 4vw;
    }

    h3 {
        font-size: 2vw;
    }

    p,
    strong,
    i,
    a {
        font-size: 1.5vw;
    }

    .heighted {
        height: 300px;
    }
}

/* SMALL SCREEN */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 9vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4vw;
    }


    p,
    strong,
    i,
    a {
        font-size: 2.5vw;
    }

    .heighted {
        height: 400px;
    }

}

/* EXTRA SMALL SCREEN */
@media screen and (max-width: 400px) {
    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 5vw;
    }

    p,
    strong,
    i,
    a {
        font-size: 3.5vw;
    }

    .heighted {
        height: 400px;
    }

}